apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  db-password: "CHANGE_ME"
  admin-username: "CHANGE_ME"
  admin-password: "CHANGE_ME"
  ldap-admin-password: "CHANGE_ME"
  grafana-admin-password: "CHANGE_ME"
